.secondTestStep {
    flex-direction: column;
    flex: 1;
    gap: 64px;
    align-items: center;

    .titleBlock {
        flex-direction: column;
        align-items: center;
        gap: 32px;

        .title {
            font-size: 96px;
            font-weight: 700;
        }

        .subTitle {
            color: #2b2b2b;
            font-size: 48px;
        }
    }

    .filters {
        flex: 1;
        align-items: center;
        width: 100%;
        gap: 40px;

        .filter {
            height: max-content;
            flex: 1;
            padding: 290px 0;
        }
    }
}
