.arrowButton {
    background: #f9f9f9;
    color: #2b2b2b;
    font-weight: 700;
    padding: 30px 64px;
    width: max-content;
    border: 0;
    outline: none;
    border-radius: 120px;
    font-size: 64px;
    align-items: center;

    .right {
        transform: rotate(180deg);
    }
}
