.filter {
    font-size: 64px;
    font-weight: 500;
    border: 8px solid #f0bc1a;
    background: transparent;
    color: #2b2b2b;
    justify-content: center;
    align-items: center;
}

.selected {
    background: #f0bc1a;
    font-weight: 700;
    color: #fff;
}
