.backButton {
    background: #F9F9F9;
    color: #2B2B2B;
    font-weight: 700;
    padding: 30px 64px;
    width: max-content;
    border: 0;
    outline: none;
    border-radius: 120px;
    font-size: 64px;
    align-items: center;
}