@font-face {
    font-family: Raleway;
    src: url("./assets/fonts/Raleway-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: Raleway;
    src: url("./assets/fonts/Raleway-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: Raleway;
    src: url("./assets/fonts/Raleway-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: Rubik;
    src: url("./assets/fonts/Rubik-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: Rubik;
    src: url("./assets/fonts/Rubik-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: Rubik;
    src: url("./assets/fonts/Rubik-Regular.ttf");
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

#root {
    width: 100vw;
    height: 100vh;
}
